
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


body{
  font-family: 'Roboto Condensed', sans-serif;
}

/*****************************NAVBAR**********************************/

.pickRight{
  justify-content: flex-end;
}

.loga{
  width: 8rem;
  height: 5rem;
  border-radius: 50%;
}

/******* NAV-LINKS******/

nav a.nav-link {
font-weight: 700;
letter-spacing: 0.0375rem;
cursor: pointer;
color: aliceblue !important;
}

nav ul li{
  text-transform: uppercase;
}