
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


:root {
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}
html{
  font-size: 10px;
}
/*****************************NAVBAR**********************************/

.pickRight{
  justify-content: flex-end;
}

nav{
  z-index: 2;
}

.loga{
  width: 8rem;
  height: 5rem;
  border-radius: 50%;
}

/******* NAV-LINKS******/

nav a.nav-link {
letter-spacing: 0.0375rem;
cursor: pointer;
color: aliceblue !important;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
color: var(--primary-white) !important;
border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;

}

@media(max-width: 768px){
  .navbar-brand{
    width: 7rem;
    
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}

/*****************************HEADER**********************************/

.header-wraper{
  position: relative;
  background: url(bg8.jpg) no-repeat;
  /* background: url(portfolio_bg.jpg) no-repeat; */
  /* background: url(portfolio_bg2.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
  height: 90vh;
  /* font-size:; */
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 2;
  /* border: 1px solid chartreuse; */
}


.main-info > img {
  z-index: 1;
  height: -webkit-fill-available;
  width: 220px;
  border-radius: 50%;
  height: 250px;
  border-bottom-style: outset;
}
.main-info > img:hover{
  border-bottom-color: chartreuse;
  /* height: 240px;
  width: 210px; */
  cursor: pointer;
  transform: rotate(360deg); 
  transition: 1.5s ease-in-out;
}
.main-info-left{
  width: 60%;
  font-size:x-large;
}
.bio{
  width: 67%;
  text-align: center;
  color: darkkhaki;
  /* border: 1px solid; */
  margin: auto;
}
.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width: 768px){
  .main-info{
    flex-direction:column-reverse;
    gap: 15px;
  }
  .main-info h1{
    font-size: 1.7rem !important;
  }
  .main-info > img {
    height: 20vh;
    width: 100px;
  }
  .bio{
    width: 100%;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}
/*****************************Typed-Text**********************************/

.typed-text{
  font-size: 2rem;
  color: var(--primary-white);

}


/*****************************HEADER MAIN OFFER BUTTON**********************************/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
  display: inline-block;
  background-color: black;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.4s ease-in-out;
  border-radius: 50%;
  border: 0;
}
/*****************************Partical JS**********************************/

.tsparticles-canvas-el{
position: absolute;
height: 100vh;
width: 100vw;
z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas{
    display: none;
  }
}


/************************************ Proficiency *****************************/
.mySkills{
width: 100%;
margin-top: 60px;
}
.mySkills > h2:nth-child(1){
  text-align: center;
  font-weight: bold;
  line-height: 55px;
  color: #f9ab00;
  background-color: aquamarine;
  font-size: xx-large;
}

.front, .back{
  width: 80vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;

}
.front > h3, .back > h3 {
  /* font-size: larger; */
  font-weight: bold;
  font-size: x-large;
  text-shadow: 1px 1px var(--primary-red);
}
.fmain, .bmain{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.boxes{
  width: 180px;
  /* border: 1px solid brown; */
  margin-top: 10px;
  /* margin: 5px; */
  box-sizing: border-box;
}
.boxes > h4 {
  font-size: larger;
  font-weight: bold;
  color: #ef4035;
  margin-top: 25px;

}
.boxes > img{
  width: 160px;
  padding: 8px;
}
.boxes > img:hover{
  /* width: 180px; */
  padding: 3px;
  transition: 0.2s ease-in;
  cursor: pointer;
  
}

@media only screen and (max-width: 768px){
  .fmain, .bmain{
    display: grid;
    grid-template-columns: auto auto ;
  }
  .boxes{
    width: 25vw;
    /* border: 1px solid brown; */
    margin-top: 10px;
    /* margin: 5px; */
    box-sizing: border-box;
  }
  .boxes > img{
    width: 20vw;
    padding: 5%;
  }
  
.front, .back{
  width: 50vw;
}
}

/************************ About ************************/
/* @media only screen and (max-width: 768px){
.aboutSection__right > img{
  width: 11px
}
} */